.DS_Store
__pycache__/
trash/

forward_problems/poisson_MLP/trained_models/
forward_problems/laplace_MLP/trained_models/

inverse_problems/infer_conductivity_value_MLP/trained_models/
inverse_problems/infer_conductivity_value_MLP/samples_analytical.csv
inverse_problems/infer_conductivity_value_MLP/samples_pinn.csv

inverse_problems/infer_conductivity_support_MLP/trained_models/
inverse_problems/infer_conductivity_support_MLP/samples_analytical.csv
inverse_problems/infer_conductivity_support_MLP/samples_pinn.csv